.nomeSXCont {
    height: 120px !important;
    max-height: 120px !important;
    width: 740px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
    padding-left:10px;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #880000;

}
.nomeSX{
    color: #ffffff;
    font-size: 110px;
    line-height: 120px;
    font-family: bigSV;
    z-index: 800;
    text-align: left;
    white-space:nowrap;
    overflow: hidden;
    width: 740px;
}
.statoSXbig {
    height: 120px !important;
    width: 740px;
    background-color: #220000;
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 10px;
    overflow: hidden;
    padding-left:10px;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #880000;
}
.countrySX {
    height: 110px !important;
    width: 150px;
    background-color: #036cc2;
    position: absolute;
    left: 10px;
    top: 140px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 110px;
    text-align: center;
    font-family: sofiaECV;
    border-radius: 15px;
}
.flagSX {
    height: 110px !important;
    width: 150px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 170px;
    top: 140px;
    z-index: 900;
    color: #FFFFFF;
    text-align: center;
    font-family: led2;
    vertical-align: center;
    overflow: hidden;
    border-radius: 15px;
}
.fotoSX {
    height: 300px !important;
    width: 200px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 10px;
    top: 260px;
    z-index: 900;
    color: #FFFFFF;
    text-align: center;
    font-family: led2;
    vertical-align: center;
    overflow: hidden;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff;
}

.scoreSX{
    height: 350px !important;
    width: 400px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 280px;
    top: 450px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 450px;
    line-height: 370px;
    font-family: sofiaECV;
    text-align: center;
    overflow-y: clip;
    border-width: 0px;
    border-style: groove;
    border-color: #FF0000;
}
.CGSX{
    height: 95px !important;
    width: 80px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 10px;
    top: 570px;
    z-index: 900;
    color: #000000;
    font-size: 110px;
    line-height: 95px;
    font-family: sofiaECV;
    text-align: center;
    border-radius: 10px;
}
.CRSX{
    height: 95px !important;
    width: 80px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 130px;
    top: 570px;
    z-index: 900;
    color: #000000;
    font-size: 110px;
    line-height: 95px;
    font-family: sofiaECV;
    text-align: center;
    border-radius: 10px;
}
.CGPSX{
    height: 95px !important;
    width: 80px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 10px;
    top: 680px;
    z-index: 900;
    color: #000000;
    font-size: 110px;
    line-height: 95px;
    font-family: sofiaECV;
    text-align: center;
    border-radius: 10px;
}
.CRPSX{
    height: 95px !important;
    width: 80px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 130px;
    top: 680px;
    z-index: 900;
    color: #000000;
    font-size: 110px;
    line-height: 95px;
    font-family: sofiaECV;
    text-align: center;
    border-radius: 10px;
}
.prioritaSX {
    height: 150px !important;
    width: 50px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 380px;
    top: 260px;
    z-index: 900;
    color: #FFFF00;
    font-size: 150px;
    line-height: 150px;
    font-family: sofiaECV;
    text-align: center;
    overflow-y: clip;
}


.period {
    height: 170px !important;
    width: 250px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 630px;
    top: 430px;
    z-index: 900;
    color: #036cc2;
    font-size: 200px;
    line-height: 200px;
    font-family: sofiaECV;
    text-align: center;
    overflow-y: clip;
}


.timerCont{
    height: 200px !important;
    max-height: 200px !important;
    width: 600px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    top: 190px;
    left: 460px;
    z-index: 800;
    overflow-y: clip;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    border-radius: 20px;
    vertical-align: top;
    text-align: right;
}
.timerText {
    color: #00FF00;
    font-size: 260px;
    line-height: 210px;
    font-family: sofiaECV;
    z-index: 800;
    text-align: center;
    white-space:nowrap;
    /*width: 1000px;*/
    overflow-y: clip;
}


.nomeDXCont {
    height: 120px !important;
    max-height: 120px !important;
    width: 740px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    top: 10px;
    left: 770px;
    overflow: hidden;
    
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #008800;

}
.nomeDX{
    color: #ffffff;
    font-size: 110px;
    line-height: 120px;
    font-family: bigSV;
    z-index: 800;
    text-align: right;
    white-space:nowrap;
    overflow: hidden;
    width: 740px;
    padding-right:20px;
}
.statoDXbig {
    height: 120px !important;
    width: 740px;
    background-color: #008800;
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 770px;
    overflow: hidden;
    padding-left:10px;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #008800;
}
.countryDX {
    height: 110px !important;
    width: 150px;
    background-color: #036cc2;
    position: absolute;
    left: 1360px;
    top: 140px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 110px;
    text-align: center;
    font-family: sofiaECV;
    border-radius: 15px;
}
.flagDX {
    height: 110px !important;
    width: 150px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 1200px;
    top: 140px;
    z-index: 900;
    color: #FFFFFF;
    text-align: center;
    font-family: led2;
    vertical-align: center;
    overflow: hidden;
    border-radius: 15px;
}
.fotoDX {
    height: 300px !important;
    width: 200px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 1310px;
    top: 260px;
    z-index: 900;
    color: #FFFFFF;
    text-align: center;
    font-family: led2;
    vertical-align: center;
    overflow: hidden;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff;
}
.scoreDX{
    height: 350px !important;
    width: 400px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 830px;
    top: 450px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 450px;
    line-height: 370px;
    font-family: sofiaECV;
    text-align: center;
    overflow-y: clip;
    border-width: 0px;
    border-style: groove;
    border-color: #FF0000;
}
.CGDX{
    height: 95px !important;
    width: 80px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 1430px;
    top: 570px;
    z-index: 900;
    color: #000000;
    font-size: 110px;
    line-height: 95px;
    font-family: sofiaECV;
    text-align: center;
    border-radius: 10px;
}
.CRDX{
    height: 95px !important;
    width: 80px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 1310px;
    top: 570px;
    z-index: 900;
    color: #000000;
    font-size: 110px;
    line-height: 95px;
    font-family: sofiaECV;
    text-align: center;
    border-radius: 10px;
}
.CGPDX{
    height: 95px !important;
    width: 80px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 1430px;
    top: 680px;
    z-index: 900;
    color: #000000;
    font-size: 110px;
    line-height: 95px;
    font-family: sofiaECV;
    text-align: center;
    border-radius: 10px;
}
.CRPDX{
    height: 95px !important;
    width: 80px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 1310px;
    top: 680px;
    z-index: 900;
    color: #000000;
    font-size: 110px;
    line-height: 95px;
    font-family: sofiaECV;
    text-align: center;
    border-radius: 10px;
}
.prioritaDX {
    height: 150px !important;
    width: 50px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 1080px;
    top: 260px;
    z-index: 900;
    color: #FFFF00;
    font-size: 150px;
    line-height: 150px;
    font-family: sofiaECV;
    text-align: center;
    overflow-y: clip;
}
.videoPausa{
    width: 768px;
    height: 414px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;

}


























.gruppoSX {
    height: 200px !important;
    width: 600px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 610px;
    top: 10px;
    z-index: 900;
    color: #036cc2;
    font-size: 180px;
    line-height: 200px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    vertical-align: top;
    display:none;

}
.gruppoDX {
    height: 200px !important;
    width: 600px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 2620px;
    top: 10px;
    z-index: 900;
    color: #036cc2;
    font-size: 180px;
    line-height: 200px;
    font-family: led2;
    text-align: center;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    padding: 0px;
    display:none;
}

.rankSX {
    height: 200px !important;
    width: 595px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 900;
    color: #c2b803;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    display:none;

}
.rankDX {
    height: 200px !important;
    width: 595px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 3235px;
    top: 10px;
    z-index: 900;
    color: #c2b803;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    display:none;

}


















.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.margin5{
    margin: 5px !important;
}

.videoSX{
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;

}

.videoDX{
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 1921px;
    z-index: 2000;

}

@font-face{
    font-family: sofiaECV;
    src: url('SofiaSansExtraCondensed-VariableFont_wght.ttf');
}
@font-face{
    font-family: robotoV;
    src: url('RobotoMono-VariableFont_wght.ttf');
}
@font-face{
    font-family: bigSV;
    src: url('BigShoulders-VariableFont_opsz,wght.ttf');
}
@font-face{
    font-family: sofiaEC;
    src: url('SofiaSansExtraCondensed-Regular.ttf');
}
@font-face{
    font-family: seven;
    src: url('LiquidCrystal-NormalItalic.otf');
}
@font-face{
    font-family: led;
    src: url('DotSpot-Regular.ttf');
}
@font-face{
    font-family: led2;
    src: url('GasFont.ttf');
}
@font-face{
    font-family: led3;
    src: url('LED-LCD-123.ttf');
}
@font-face{
    font-family: led4;
    src: url('Pixel-lcd-machine.ttf');
}
@font-face{
    font-family: led5;
    src: url('advanced_pixel_lcd-7.ttf');
}
@font-face{
    font-family: led6;
    src: url('LCDAT-TPhoneTimeDate.ttf');
}
