.statoSX {
    height: 200px !important;
    width: 900px;
    background-color: #220000;
    position: absolute;
    z-index: 1000;
}
.statoSXbig {
    height: 270px !important;
    width: 920px;
    background-color: #110000;
    position: absolute;
    z-index: 1100;
    top: 120px;
}
.statoDX {
    height: 200px !important;
    width: 900px;
    background-color: #002200;
    position: absolute;
    left: 2930px;
    z-index: 1000;
}
.statoDXbig {
    height: 270px !important;
    width: 920px;
    /*background-color: #001100;*/
    position: absolute;
    z-index: 1100;
    top: 120px;
    left: 990px;
}

.nomeSXCont {
    height: 270px !important;
    max-height: 270px !important;
    width: 920px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    top: 120px;
    left: 0px;
    overflow: hidden;

}
.nomeSX{
    color: #C2AF03FF;
    font-size: 160px;
    line-height: 140px;
    font-family: led2;
    z-index: 800;
    text-align: left;
    /*white-space:nowrap;*/
    overflow: hidden;
    width: 920px;
}
.nomeDXCont{
    height: 270px !important;
    max-height: 270px !important;
    width: 920px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    top: 120px;
    left: 990px;
    overflow: hidden;
}
.nomeDX {
    color: #C2AF03FF;
    font-size: 160px;
    line-height: 140px;
    font-family: led2;
    z-index: 800;
    text-align: right;
    /*white-space:nowrap;*/
    overflow: hidden;
    width: 920px;
}


.gruppoSX {
    height: 100px !important;
    width: 300px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 305px;
    top: 5px;
    z-index: 900;
    color: #036cc2;
    font-size: 90px;
    line-height: 100px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    vertical-align: top;

}
.gruppoDX {
    height: 100px !important;
    width: 300px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 1310px;
    top: 5px;
    z-index: 900;
    color: #036cc2;
    font-size: 90px;
    line-height: 100px;
    font-family: led2;
    text-align: center;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    padding: 0px;
}

.rankSX {
    height: 100px !important;
    width: 300px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 0px;
    top: 5px;
    z-index: 900;
    color: #c2b803;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;

}
.rankDX {
    height: 100px !important;
    width: 300px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 1615px;
    top: 5px;
    z-index: 900;
    color: #c2b803;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;

}

.countrySX {
    height: 100px !important;
    width: 200px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 745px;
    top: 5px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;

}
.countryDX {
    height: 100px !important;
    width: 200px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 965px;
    top: 5px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;

}

.flagSX {
    height: 100px !important;
    width: 135px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 610px;
    top: 5px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 110px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    vertical-align: center;
    overflow: hidden;

}
.flagDX {
    height: 100px !important;
    width: 135px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 1170px;
    top: 5px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 110px;
    text-align: center;
    font-family: led2;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    vertical-align: center;
    overflow: hidden;

}

.scoreSX{
    height: 420px !important;
    width: 600px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 0px;
    top: 630px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 500px;
    line-height: 500px;
    font-family: seven;
    text-align: center;
    overflow-y: clip;
    border-width: 0px;
    border-style: groove;
    border-color: #FF0000;
}
.scoreDX{
    height: 420px !important;
    width: 600px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 1315px;
    top: 630px;
    z-index: 900;
    color: #FFFFFF;
    font-size: 500px;
    line-height: 500px;
    font-family: seven;
    text-align: center;
    overflow-y: clip;
    border-width: 0px;
    border-style: groove;
    border-color: #FF0000;
}

.CGPDX{
    height: 230px !important;
    width: 180px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 2735px;
    top: 540px;
    z-index: 900;
    color: #000000;
    font-size: 280px;
    line-height: 250px;
    font-family: led2;
    text-align: center;
}
.CGDX{
    height: 130px !important;
    width: 230px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 1675px;
    top: 430px;
    z-index: 900;
    color: #000000;
    font-size: 280px;
    line-height: 250px;
    font-family: led2;
    text-align: center;
}
.CRPDX{
    height: 230px !important;
    width: 180px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 2735px;
    top: 790px;
    z-index: 900;
    color: #000000;
    font-size: 280px;
    line-height: 250px;
    font-family: led2;
    text-align: center;
}
.CRDX{
    height: 130px !important;
    width: 230px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 1425px;
    top: 430px;
    z-index: 900;
    color: #000000;
    font-size: 280px;
    line-height: 250px;
    font-family: led2;
    text-align: center;
}

.prioritaDX {
    height: 180px !important;
    width: 120px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 1135px;
    top: 820px;
    z-index: 900;
    color: #c2b803; /*#3EA5FAFF;*/
    font-size: 200px;
    line-height: 200px;
    font-family: led2;
    text-align: center;
    overflow-y: clip;
}
.prioritaSX {
    height: 180px !important;
    width: 120px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 650px;
    top: 820px;
    z-index: 900;
    color: #c2b803; /*#3EA5FAFF;*/
    font-size: 200px;
    line-height: 200px;
    font-family: led2;
    text-align: center;
    overflow-y: clip;
}

.period {
    height: 250px !important;
    width: 180px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    left: 870px;
    top: 800px; /*530px;*/
    z-index: 900;
    color: #036cc2;
    font-size: 400px;
    line-height: 320px;
    font-family: led6;
    text-align: center;
    overflow-y: clip;
}

.CGSX{
    height: 130px !important;
    width: 230px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 10px;
    top: 430px;
    z-index: 900;
    color: #000000;
    font-size: 280px;
    line-height: 250px;
    font-family: led2;
    text-align: center;
}
.CGPSX{
    height: 230px !important;
    width: 180px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 930px;
    top: 540px;
    z-index: 900;
    color: #000000;
    font-size: 280px;
    line-height: 250px;
    font-family: led2;
    text-align: center;
}
.CRSX{
    height: 130px !important;
    width: 230px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 260px;
    top: 430px;
    z-index: 900;
    color: #000000;
    font-size: 280px;
    line-height: 250px;
    font-family: led2;
    text-align: center;
}
.CRPSX{
    height: 230px !important;
    width: 180px;
    background-color: rgba(255,255,255,0%); /* rgba(255,255,255,0%);*/
    position: absolute;
    left: 930px;
    top: 790px;
    z-index: 900;
    color: #000000;
    font-size: 280px;
    line-height: 250px;
    font-family: led2;
    text-align: center;
}


.timerCont{
    height: 350px !important;
    max-height: 350px !important;
    width: 715px;
    background-color: rgba(255,255,255,0%);
    position: absolute;
    top: 400px;
    left: 600px;
    z-index: 800;
    overflow-y: clip;
    border-width: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    vertical-align: top;
    text-align: right;
}
.timerText {
    color: #00FF00;
    font-size: 400px;
    line-height: 400px;
    font-family: led6;
    z-index: 800;
    text-align: center;
    white-space:nowrap;
    /*width: 1000px;*/
    overflow-y: clip;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.margin5{
    margin: 5px !important;
}

.videoSX{
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;

}

.videoDX{
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 1921px;
    z-index: 2000;

}

@font-face{
    font-family: sofiaEC;
    src: url('SofiaSansExtraCondensed-Regular.ttf');
}
@font-face{
    font-family: seven;
    src: url('LiquidCrystal-NormalItalic.otf');
}
@font-face{
    font-family: led;
    src: url('DotSpot-Regular.ttf');
}
@font-face{
    font-family: led2;
    src: url('GasFont.ttf');
}
@font-face{
    font-family: led3;
    src: url('LED-LCD-123.ttf');
}
@font-face{
    font-family: led4;
    src: url('Pixel-lcd-machine.ttf');
}
@font-face{
    font-family: led5;
    src: url('advanced_pixel_lcd-7.ttf');
}
@font-face{
    font-family: led6;
    src: url('LCDAT-TPhoneTimeDate.ttf');
}