
{% extends "baseb.html" %}

{% block title %}dmb Score - Home{% endblock %}

{% block content %}
{#<h2>dmb SCORE</h2>#}

    <div class="game-card" style="margin-bottom: 50px">
        <div class="row" style="display: flex; gap: 10px; justify-content: center; margin-top: 15px; top: 10px; left: 20px">
            <form method="post" action="{{ url_for('video_upd') }}" style="display: inline;">
                <div class="row margin5">
                    <div class="col-8 text-left">
                        <input type="hidden" name="video" value="videoOn">
                    </div>
                </div>
                <div class="row margin5 text-center">
                    <button type="submit" class="btn btn-lg btn-success">VIDEO ON</button>
                </div>
            </form>
            <form method="post" action="{{ url_for('video_upd') }}" style="display: inline;">
                <div class="row margin5">
                    <div class="col-8 text-left">
                        <input type="hidden" name="video" value="videoOff">
                    </div>
                </div>
                <div class="row margin5 text-center">
                    <button type="submit" class="btn btn-lg btn-danger">VIDEO OFF</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
